@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

// Header section

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  @media (min-width: 768px) {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    min-height: 60px;
    &__title {
      width: 90vw;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #afe3a2;
  padding: 10px;
  &__link {
    color: #000000;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    margin: 8px;
  }
  @media (min-width: 768px) {
    background: #afe3a2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    padding: 16px 0 16px 400px;
    margin: 0;
    &__link {
      color: #000000;
      font-size: 24px;
      display: inline-block;
      margin: 45px 56px 45px 0;
      text-decoration: none;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    margin: 10px 0;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #687631;
  }
  &__description {
    margin: 30px;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #4f7b56;
    margin-top: 0;
  }
  &__image {
    order: -1;
    max-width: 312px;
  }
  &__picture {
    width: 95vw;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__header {
      margin: 10px 0 0 300px;
      text-align: center;
      font-size: 48px;
      font-weight: 300;
      color: #687631;
    }
    &__description {
      margin: 0 0 30px 300px;
      text-align: center;
      font-size: 48px;
      font-weight: 300;
      color: #4f7b56;
      margin-top: 0;
    }
    &__image {
      position: absolute;
      top: 9px;
      left: 65px;
      width: auto;
    }
    &__picture {
      width: 95vw;
    }
  }
}

// About-us section

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1050px;
  &__header {
    font-size: 48px;
    color: #687631;
    font-weight: 300;
    margin: 25px;
  }
  &__description {
    font-size: 24px;
    color: #4f7b56;
    margin: 0 25px 25px 25px;
    text-align: justify;
  }
  &__link {
    color: #687631;
    text-decoration: none;
  }
}
